body {
	background-color: rgb(53, 53, 53);
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(197, 197, 197);
	text-align: center;
}

.board {
	align-items: center;
}

table {
	margin: 100px auto;
	border: 1px solid lightgray;
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
	transition: 0.2ms;
	background-color: rgb(136, 132, 132);
}

.hidden {
	display: none;
}

.cell:hover {
	background-color: rgba(233, 177, 56, 0.623);
	cursor: pointer;
}

button {
	border: none;
	width: 60px;
	height: 30px;
	font-size: 16px;
	background-color: rgb(204, 199, 199);
	color: rgb(29, 29, 29);
}
